/* SCROLLBAR AND BODY ---------------------------------------------------------------------------------------------------------------------------- */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(94, 94, 94);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #494949;
}

body {
    width: 100%;
    margin: -8px -8px 0px -8px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    color: rgb(255, 226, 241);
    background-color: #302e33;
}

/*  TYPOGRAPHY ----------------------------------------------------------------------------------------------------------------------------------- */

h1 {
    font-family: "Lexend";
    font-weight: 300;
}

.text p {
    font-family: "Lexend";
    font-weight: 200;
}

/*  HEADER --------------------------------------------------------------------------------------------------------------------------------------- */

header {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    margin: 8px 0 0 0;

    width: 101%;
    height: 4.4em;

    border-bottom: 5px solid rgb(255, 226, 241);
    box-shadow: 0 5px 15px rgba(34, 0, 0, 0.74);
    background-color: rgb(29, 0, 6);
}

#logo {
    width: 150px;
    height: 70px;
    padding: 8px 8px 10px 30px;
    filter: invert(80%);
}

#logo img {
    width: 100%;
}

#navigation {
    justify-self: self-end;
    margin-top: -8px;
    padding: 23px 20px 0 0;
    font-family: "Cairo";
    font-weight: 400;
    font-size: 20px;
    color: rgb(255, 226, 241);
}

#navigation a {
    margin-right: 20px;
    padding: 0 10px 0 10px;
}

.active {
    box-shadow: rgb(255, 226, 241) 0 -15px, rgb(255, 226, 241) 0 21px;
    border-radius: 10px 10px 0 0;
    background-color: rgb(255, 226, 241);
    color: rgb(29, 0, 6);
}

.notactive {
    padding: 0 10px 0 10px;
    text-decoration: none;
    color: rgb(255, 226, 241);
    transition: box-shadow 300ms ease-out, background-color 300ms ease-out, color 300ms ease-out, corder-radius 300ms ease-out;
}

.notactive:hover {
    box-shadow: rgb(255, 226, 241) 0 -15px, rgb(255, 226, 241) 0 21px;
    border-radius: 10px 10px 0 0;
    color: rgb(29, 0, 6);
    background-color: rgb(255, 226, 241);

}

/* TEXTBOX 1 ------------------------------------------------------------------------------------------------------------------------------------- */

#textbox1 {
    width: 101%;
    height: 285px;
    margin: 10% 0 0 0;

    display: inline-flex;
    flex-direction: column;
    justify-content: right;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.301);
    box-shadow: 0 10px 10px rgb(160, 160, 160), 0 -10px 10px rgb(160, 160, 160);
}

.toptext1 {
    font-size: 60px;
    color: rgb(29, 0, 6);
}

#textbox1 span {
    font-family: "Lexend";
    font-weight: 500;
    color: rgb(158, 9, 9);
}

#middletext1 {
    margin-top: -30px;

    font-size: 40px;
    color: rgb(29, 0, 6);
}

#bottomtext1 {
    margin-top: -25px;

    font-family: "Lexend";
    font-weight: 500;
    font-size: 40px;
    color: rgb(158, 9, 9);
}

#imgcontainer1 {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;

    margin-top: 5%;
    width: 100%;
    height: 1000px;
    background-color: rgba(255, 255, 255, 0.301);
}

#img1 {
    width: 20%;
    height: max-content;
}


/* TEXTBOX 2 ------------------------------------------------------------------------------------------------------------------------------------- */

#textbox2 {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0 0 30px;
    text-align: left;
}


#textbox2 p {
    width: 60%;
}

#textbox3 {
    text-align: right;
}

/*
#textbox3 h1 {

}

#textbox3 p {

}
*/

#fridgecontainer {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: left;
}

.fridgeimg {
    max-width: 20%;
    height: auto;
}

#yolo {
    margin-top: 5000px;
}

/* Overview page -------------------------------------------------------------------------------------------------------- */

#overviewbody {
    width: 100%;
    height: 100%;
    margin: 130px 0 0 0;
    display: inline-flex;
    flex-direction: row;
}

#imgcontainer_o1 {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: 80vh;
}

#closedimg {
    position: relative;
    height: inherit;
    display: block;
}

#openedfridgecontainer {
    position: fixed;
    display: inline-flex;
    justify-content: left;
    height: inherit;
    justify-self: left;
    display: none;
}

#openedimg {
    position: relative;
    height: inherit;
    display: none;
}

#outerleftsection {
    margin: 1.5% 0 0 1.5%;
    width: 18.8%;
    height: 95.5%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 12.6%);
}

#innerleftsection {
    margin: 1.7% 0 0 3.5%;
    width: 18%;
    height: 95.5%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% repeat(2, 12.6%) repeat(4, 15.1%);
}

#innerrightsection {
    margin: 1.7% 0 0 2.6%;
    width: 25%;
    height: 95.5%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 21% repeat(4, 12.4%) repeat(2, 15%);
}

#outerrightsection {
    margin: 1.7% 0 0 3%;
    width: 26.5%;
    height: 95.5%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 13.5%) repeat(2, 23.3%);
}

.compartment {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.compartment:hover {
    background-color: rgba(87, 87, 87, 0.274);
}


.compartmentitem img {
    width: auto;
    height: 2vw;
    justify-self: center;
    margin: 3px 2px 0 0;
}

.additembutton, .additembutton img {
    width: 2vw;
    height: auto;
}

.moreitembutton, .moreitembutton img {
    justify-self: flex-end;
    width: 2vw;
    height: auto;
}

#filtercontainer {
    width: 15%;
    background-color: rgba(0, 0, 0, 0.377);
    display: flex;
    flex-direction: column;
    justify-self: right;
}

#filterh {
    text-align: center;
}

.categorybutton input[type=button]:active {
    filter: invert(100%);
}

#overviewcategory {
    justify-content: center;
}

#overviewcategory .icon {
    width: 40px;
}

#namefilter {
    align-self: center;
    width: 94%;
}

#datefilter {
    width: auto;
}

#expiredcontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    font-family: "Cairo";
}

#expiredswitch {
    margin: 3.75% 0 0 3%;
}

.itemtooltip {
    margin-top: -50px;
    justify-self: center;
    display: none;
    position: fixed;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Cairo";
    text-align: center;
    padding: 5px;
    background-color: rgb(29, 0, 6);
    border-radius: 10px;
    z-index: 100;

}

.compartmentitem:hover .itemtooltip, .compartmentitem:hover {
    display: block;

}

.compartmentitem:hover {
    transform: translateY(-4px);
}

/* Additem.html ----------------------------------------------------------------------------------------------------------*/

#displaycompartment {
    width: 100%;
    height: 1em;
    margin: 0 0 0 0;
    padding: 100px 0 0 0;
    color: rgb(3, 3, 58);
    text-align: center;
}

#inputcontainer {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.inputfield {
    display: inline-flex;
    width: 25%;
    flex-direction: column;
    font-family: "Cairo";
    margin: 0 5px 0 5px;
    box-shadow: 0 20px 1px rgba(163, 163, 163, 0.377);
}

#categoryinput {
    width: 300px;
    height: 280px;
    margin: 6em 0 4em 0;
    align-self: center;
}

.categorycontainer {
    width: 100%;
    height: 100%;

    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(236, 236, 236, 0.322);
    border-bottom: 2px rgba(236, 236, 236, 0.24) solid;
}

.categorybutton input {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    align-content: center;
}

.categorybutton input+img {
    cursor: pointer;
}

.categorybutton input:checked+img {
    filter: invert(100%) drop-shadow(0px 0px 8px rgba(226, 226, 226, 0.753));
}

.icon {
    align-self: center;
    padding: 17px;
    width: 40px;
    height: 40px;
    filter: invert(70%) drop-shadow(0 0 4px rgba(0, 0, 0, 0.521));
}

.tooltip {
    visibility: hidden;
    position: fixed;
    width: 80px;
    font-family: "Cairo";
    text-align: center;
    margin: 55px 0 0 -75px;
    background-color: rgb(29, 0, 6);
    border-radius: 10px;
    z-index: 100;
}

label:hover .tooltip, .icon {
    visibility: visible;
}

label:hover .icon {
    filter: invert(40%) drop-shadow(0px 0px 8px rgba(226, 226, 226, 0.678));
}


.categorycontainer p:hover {
    background-color: rgba(0, 0, 0, 0.123);
}

#input2 {
    width: 100%;
    display: inline-flex;
    align-self: center;
    justify-content: center;
}

.inputfield label:not(.categorybutton) {
    background-color: rgb(29, 0, 6);
    border-radius: 10px 10px 0 0;
    padding-left: 0.5em;
}

.inputfield input {
    width: auto;
    height: 2em;
    padding: 0.5em 0 0 0.5em;

    font-family: "Cairo";
    font-size: 1em;
    background-color: rgba(236, 236, 236, 0.322);
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
    border-bottom: 2px rgba(236, 236, 236, 0.24) solid;
}

.inputfield input:hover {
    background-color: rgba(90, 90, 90, 0.295);
}

#expireinput input {
    height: 2em;
}

#buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 50px;
}

#additembutton, #deleteitembutton {
    margin: 0 20px 0 20px;
    align-self: center;
    padding: 10px;
    width: 25%;
}

#additembutton {
    background-color: rgb(102, 196, 48);
}

#additembutton:hover {
    background-color: rgb(83, 160, 12);
}

#deleteitembutton {
    background-color: rgb(224, 91, 91);
}

#deleteitembutton:hover {
    background-color: rgb(187, 59, 59);
}

/* Details.html -----------------------------------*/
#infotable {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20%;
    width: 100%;
}

#infotable table {
    width: 300px;
    margin: 20px;
    border: 2px rgb(184, 184, 184) solid;
    padding: 20px;
    box-shadow: 0 0 10px rgb(211, 241, 255);
}

#infotable table tr {
    font-family: "Darker Grotesque";
    font-size: 1.5em;
    font-weight: 500;
    padding: 10px;
    
}

#infotable table tr:nth-child(even) {
    background-color: rgba(114, 114, 114, 0.247);
}

#infotable table tr:nth-child(odd) {
    background-color: rgba(77, 77, 77, 0.329);
}

#infotable table tr td {
    width: 50%;
    text-align: center;
}

.buttonrow td {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttoncontainer {
    width: 100%;
    justify-content: center;
}